<link rel='stylesheet' href='/stylesheets/requestList.css'/>
<script src="/javascripts/requestList.js"></script>
<div id='requestList'>
    <h3>Requested and played tracks</h3>
    <% if (locals.isAdmin) { %>
        <script src="/javascripts/adminFunctions.js"></script>
        <button id='songPlayedBtn' onclick='markPlayedOnServer()'>Mark song played</button>
    <% } %>
    <table id='requestTable'>
        <tbody>
            <% requestedOrPlayedSongs.forEach((song) => { %>
                <tr class='<%= song.played ? "off" : "" %>' id='tr_<%=song.uniqueId%>'
                    <% if (locals.isAdmin) { %> onclick='selectSong(this)' <% } %>>
                    <td class='tdNumber'><%= song.id %></td>
                    <td class='tdTime'><%= song.playedAt %></td>
                    <td class='tdName'><%= song.name %></td>
                    <td class='tdUser'><%= song.requestedBy %></td>
                </tr>
            <% }); %>
        </tbody>
    </table>

</div>