<link rel='stylesheet' href='/stylesheets/requestList.css'/>
<script src="/javascripts/requestList.js"></script>
<div id='requestList'>
    <h3>Requested and played tracks</h3>
    <% if (locals.isAdmin) { %>
        <button id='songPlayedBtn' onclick='markPlayedOnServer()'>Mark song played</button>
        <br>
    <% } %>
    <table id='requestTable'>
        <tbody>
            <% requestedOrPlayedSongs.forEach((song) => { %>
                <tr class='songRow <%= song.played ? "off" : "" %>' id='tr_<%=song.uniqueId%>'
                    <% if (locals.isAdmin) { %> onclick='selectSong(this)' <% } %>>
                    <% let i=0; for (let column of Object.values(song._columns)) {
                        if (i === 0) {
                            i++; continue; } %>
                        <td class="songCell <%= `cell${i}`%>"><%= song[column] %></td>
                    <% i++; } %>
                    <td class='songCell tdUser'><%= song.requestedBy %></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</div>