<link rel='stylesheet' href='/stylesheets/voter.css'/>
<script src="/javascripts/voter.js"></script>
<div id='voter'>
    <h3>Select your tracks!</h3>
    <div id='namewrapper'>
        <input id='userName' type="text" placeholder="Your name here (voluntary)"><br>
        <button onclick='setUserName()'>Save</button>
    </div>
    <div class='songwrapper'>
        <div id="playlistWrapper">
            <% for (let playlist in playlists) {
                if (playlists[playlist]._disabled) {continue;} %>
                <button class='playlist_btn' id='select#<%= playlist %>'
                        onclick='zelectPlaylist("<%= playlist %>", this)'>
                    <%= playlist %>
                </button>
            <% } %>
        </div>
        <br>
        <% for (let playlist in playlists) {
            if (playlists[playlist]._disabled) {continue;} %>
            <table class='songsTable hidden' id='<%= "table_" + playlist %>'>
                <% playlists[playlist].songs.forEach(function (song) { %>
                    <tr class="<%= song.requested ? ' off' : "" %>" id="vote_<%= song.uniqueId %>"
                        onclick='zelectSong("<%= song.uniqueId %>", this)'>
                        <% for (let column of Object.values(playlists[playlist]._columns)) { %>
                            <td><%= song[column] %></td>
                        <!--<td class='tdNumber'><%= song.id %></td>
                        <td class='tdName'><%= song.name %></td>-->
                        <% } %>
                    </tr>
                <% }); %>
            </table>
        <% } %>
        <br>
        <p id='statusText'></p>
        <button id='sendBtn' onclick="sendRequest()">Request selected song</button>
    </div>
</div>